.mainNav{
   color: white;
   background-color:rgb(81, 148, 215);
   display:flex;
   justify-content: space-between;
   padding: 15px ;

}

.rightSideNav{
   display: flex;
   align-items: left;
}
.rightSideNav i {
   font-size: 30px;
   margin-right: 10px;
}

.container2{
   display: flex;
}



.or{
   display: inline-block;
   margin-left: 3px;
   margin-right: 3px;
}

.linkBTN{
   color:rgba(0, 0, 0, 0.5);
   text-decoration: none;
}
.linkBTN:hover{
   color:rgba(0, 0, 0, 0.5);
   text-decoration: underline;
}
